*{
	margin: 0;
	padding: 0;
	
}
body{
	min-width: 1000px;
}

ul{
	list-style: none;
}
/*页面最顶部的黑色导航*/
.navBlack{
	background-color:#222222;
	width: 100%;
	height: 28px;
}
.navBlack i{
	padding:0 10px;
	font-size: 15px;
}
/*黑色导航中集团网站*/
.website{
	float: left;
	color: white;
	line-height: 28px;
	margin-left: 80px;
	font-size:12px ;
}
.website a{
	color: white;
}
/*黑色导航中集团网站的隐藏部分*/
.websiteShow{
	width: 100%;
	height: 150px;
	display: none;
}
.websiteCenter{
	width: 88%;
	margin: 40px auto;
	font-size: 0;
}
.websiteCenter li{
	display: inline-block;
	width: 18%;
	font-size:14px ;
	padding-right: 76px;
	line-height: 1.85;
	
}
.websiteCenter a>h3{
	color: #F66F6A;
	margin-bottom: 3px;
}
.websiteCenter a{
	color: black;
	text-decoration:none;
}
/*黑色导航，右侧选择区域语言的下拉菜单*/
.language{
	float: right;
	color: white;
	line-height: 28px;
	font-size:12px ;
	margin-right: 20px;
}
 .language a{
	color: white;
}
/*黑色导航中选择区域/语言的隐藏部分*/
.languageShow{
	width: 100%;
	height: 310px;
	display: none;
}
.languageCenter{
	width: 85%;
	margin: 0 auto;	
}
.languageTop{
	padding-top: 40px;
}
.languageBody{
	 /*在父容器上使用font-size:0;可以inline-block消除间隙*/
	font-size: 0;
	 /*对于Chrome, 其默认有最小字体大小限制，考虑到兼容性，需要取消字体大小限制*/
	webkit-text-size-adjust:none;
}
.languageBody li{
	width: 20%;
	display: inline-block;
	font-size:14px ;
	padding-top:20px ;
}
.signIn{
	float: right;
	line-height: 28px;
	font-size:12px ;
	padding-left:10px ;
	margin-right: 100px;
	border-left: 2px #919191 solid;
}
.signIn a{
	color: white;
}

/*顶部白色的导航，选项卡,搜索框*/
.navWhite{
	width: 100%;
	height: 74px;
	background-color: #fff;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
	top: 100px;
}
.container{
	/*width: 1106px;*/
	margin: 0 80px;
}
.container img{
	width: 135px;
	margin-top: 22px;
}
.logo{
	width: 200px;
	height: 74px;
	float: left;
}
.clearfix li{
	display: inline-block;
	line-height: 74px;
	padding-right:30px ;
	font-size: 18px;
}
.contact a{
	text-decoration: none;
	color: #545454;
}
.contactLeft{
	display: inline-block;
}
.contactLeft1 img{
	width: 23px;
    padding-right:20px;
	vertical-align: middle;
	padding-bottom: 20px;
}
.contactLeft2 img{
	width: 38px;
    padding-right:20px;
	vertical-align: middle;
	padding-bottom: 22px;
}
/*白色导航中“手机，笔记本&平板...”的隐藏部分*/
.contactLeftShow1{
	width: 100%;
	height: 410px;
	background-color: #F5F5F5;
	display: none;
	/*z-index: 111;*/
}
.leftShow1Center{
	font-size: 0;
	width: 86%;
	margin: 0 auto;
}
.Show1-lt{
	margin: 40px 0;
	display: inline-block;
	width: 25%;
}
.Show1-mi{
	display: inline-block;
	width: 58%;
	font-size: 14px;
}
.Show1-mi li{
	display: inline-block;
	width: 32%;
	padding-top: 70px;
}
.Show1-mi img{
	padding-left: 20px;
}
.miText{
	padding-left:50px ;
}
.Show1-rt{
	background-color:#EBEBEB;
	float: right;
	width: 17%;
	height: 410px;
	font-size: 14px;
	
}
.rt-text{
	margin-top: 40px;
	margin-bottom: 20px;
	padding-left: 25px;
	letter-spacing: 1px;
}
.Show1-rt li{
	line-height: 30px;
	padding-left: 25px;
}
.Show1-rt a{
	color: black;
	text-decoration: none;
}
/*白色导航中解决方案&服务的隐藏部分*/
.contactLeftShow2{
	width: 100%;
	/*height: 410px;*/
	background-color: #F5F5F5;
	display: none;
}
.leftShow2Center{

}
.show2_head{
	width: 100%;
    border-bottom: 2px black solid ;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.show2_headText{
	width: 50%;
	margin: 0 auto;
}
.show2_headText li{
	display: inline-block;
	padding-right: 100px;
}
.bodyfir{
	width: 80%;
	margin: 0 auto;
	font-size: 0;
	height: 328px;
}
.body1{
	width: 100%;
	background-color: #F5F5F5;
	display: block;
	height: 328px;
}
.body2{
	width: 100%;
	background-color: #F5F5F5;
	display: none;
	height: 328px;
}
.body3{
	width: 100%;
	background-color: #F5F5F5;
	display: none;
	height: 328px;
}
.bodyfirLi{
	width: 83%;
	display: inline-block;
}

.bodyfir1{
	display: inline-block;
	width: 33%;
	font-size: 14px;
	padding-top: 40px;
}
.bodyfir2{
	display: inline-block;
	width: 33%;
	font-size: 14px;
	padding-top: 40px;
}
.bodyfir1 li{
	padding-top: 10px;
	line-height: 20px;
}
.bodyfir2 li{
	padding-top: 10px;
	line-height: 20px;
}
.bodyfir1 a{
	text-decoration: none;
	color: #222222;
}
.bodyfir2 a{
	text-decoration: none;
	color: #222222;
}
.Show2-rt{
	background-color:#EBEBEB;
	float: right;
	width: 17%;
	height: 328px;
	font-size: 14px;
}
.Show2-rt li{
	line-height: 30px;
	padding-left: 25px;
}
.Show2-rt a{
	color: black;
	text-decoration: none;
}
.contactRight{
	display: inline-block;
	border-left: 2px #D4D4D4 solid;
	padding-left: 30px;
}
.contactRight i{
	padding-left:10px ;
}


/*自适应的手机版本,当屏幕小于600px时,顶部黑色和白色的导航条全部消失*/
@media only screen and (max-width:600px ) {
	.navBlack{
		display: none;
	}
	.navWhite{
		display: none;
	}
}